<?xml version="1.0" encoding="UTF-8"?>
<config>
    <Source>
        <RTSPAPI>
            <RTSPURL>http://multimedia.stargazette.com/webcasts/weather/webcast.mov</RTSPURL>
        </RTSPAPI>
        <RTSPAPI>
            <RTSPURL>http://multimedia.stargazette.com/webcasts/weather/webcast.mov</RTSPURL>
        </RTSPAPI>
    </Source>
    <Output>
        <FileOutput> 
            <Dir>output/img</Dir>
            <FileName>{yyyymmdd}_{HHMMSS}_{streamID}_{algoName}_{fallcount}.jpg</FileName>
        </FileOutput>
    </Output>
</config>
