<?xml version="1.0" encoding="UTF-8"?>
<config>
    <Source>
        <RTSPAPI>
            <RTSPURL>input/gettyimages-468620088-640_adpp.mp4</RTSPURL>
        </RTSPAPI>
        <RTSPAPI>
            <RTSPURL>input/gettyimages-458529130-640_adpp.mp4</RTSPURL>
        </RTSPAPI>
    </Source>
    <Output>
        <FileOutput> 
            <Dir>output/img</Dir>
            <FileName>{yyyymmdd}_{HHMMSS}_{streamID}_{algoName}_{fallcount}.jpg</FileName>
        </FileOutput>
    </Output>
</config>
